<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Update Post</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class='container'>
      <div class='header'>
        <img src="https://images.unsplash.com/photo-1554177255-61502b352de3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
        <h1 class="title is-1">Want a change ?Edit <%=post.title%> </h1>
        <h2 class="subtitle is-4">Let's Go 🚀</h2>
      </div>
      <h2 class="subtitle is-3">Update my Post</h2>
      <form action="/posts/<%=post._id%>?_method=PUT" method="POST">
        <input type="hidden" id='hiddenId' />
        <input type="text" name="title" value="<%=post.title%>" />
        <br/>
        <br/>
        <input name="body" value="<%=post.body%>"></input>
        <br/>
        <br/>
        <button>Update Now</button>
      </form>
      <br/>
      <!-- TODO 5, Add Container To Render Reviews -->
      <h4 class="subtitle is-3">Recent posts</h4>
      <a href="/get">Click Here</a>
      <ul id='reviews'>
        
      </ul>
    </div>
    <link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
     <a href="/logout">Log Out</a>
  </body>
</html>